/** base styles for the mod2 assingment **/
<style>

* {
  box-sizing: border-box;
}
#title-style {
 padding: 40px;
  font-size: 230%;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

#game-text {
  width: 95%;
  max-height: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  font-family: 'Nunito', sans-serif;
  color: black;
  text-align: left;
  overflow-wrap: break-word;
  white-space: normal;
  overflow: auto;
  padding: 3px;
  
}

.row {
  width: 100%;
 
}

#gamebox {
  text-align: right;
  background-color: #a3a3c2;  
  border-radius: 7px;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 20px;
  font-family: 'Exo 2', sans-serif;
  
}


body {
  background-color: #f22f33;
  overflow-x: hidden;
}

.litbox {
  float: right;
  width: 150px;
  max-height: 70px;
  border: 1px solid black;
  font-size: 140%;
  text-align: center;
  border-radius: 5px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 5px;
}

.megaman {
  background: #0052cc;
  color: black;
}

.zelda {
  background: #ab3fdd;
}

.metroid {
  background: #cca300;
  color: black;
}

@media (min-width: 1200px) {
  .col-lg {
    float: left;
    border: 1px solid black;
  }
  .col-lg {
    width: 31%;
  }
}

@media (min-width: 992px) {
  .col-md {
    float: left;
    border: 1px solid black;
  }
  .col-md {
    width: 31%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-top, .col-sm-bottom {
    float: left;
    border: 1px solid black;
  }
  .col-sm-top {
    width: 47.3%;
  }
  .col-sm-bottom {
    width: 97.5%;
  }
}

@media (max-width: 767px) {
  .col-xs {
    float: left;
    border: 1px solid black;
  }
  .col-xs {
    width: 97.5%;
  }
}
<style/>
